html lang="en"
	head
		meta charset="utf-8"
		title Taiwan Nights - Taiwan Nights · Home · Taipei · Places, Events, People, Partying, Clubbing and Dining! The One-Stop Gateway for Taiwan Nightlife.
		meta content="IE=edge" http-equiv="X-UA-Compatible"
		meta content="width=device-width, initial-scale=1" name="viewport"
		meta content="Taipei · Taiwan Nights is the number one source for nightlife in Taiwan. Find parties, clubs, bars or lounges, restaurants and promote your events online. All *truly* bilingual in English and Chinese." name="description"
		meta content="Muhamad Reza Adityawarman" name="author"
		
		/!styles
		link href="assets/css/style.css" rel="stylesheet"

		/!JS
		script src="assets/js/modernizr.custom.js"
		 
		/!fonts google
		link href='https://fonts.googleapis.com/css?family=Open+Sans:100,400,300,600,700,800' rel='stylesheet' type='text/css'
		
		
		/!HTML5 shim, for IE6-8 support of HTML5 elements [if lt IE 9]
		/!Fav and touch icons
		link href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144"
		link href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114"
		link href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72"
		link href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed"
		
		/!favicon image
		link href="images/favicon.png" rel="shortcut icon"

	body
		/!search 
		.overlay.overlay-simplegenie
			button.overlay-close type="button"  Close
			.container
				.row
					form
						.form-group
							input type="search" class="input-simple w-100 searching" placeholder="Search..."

		/!menu iteraction
		.menu-wrap
			nav.menu
				.icon-list
					a href="#" 
						span Login
					a href="#" 
						span Sign Up
					a href="#" 
						span Home
					a href="#" 
						span Bars & Lounge
					a href="#" 
						span Clubs
					a href="#" 
						span Article
					a href=""
						span Contact Us
			button#close-button.close-button Close Menu

		nav.navbar.navbar-inverse.navbar-fixed-top
			.container-bigscreen
				.navbar-header
					button.navbar-toggle.collapsed aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button" 
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand href="index.html"  
						img src="assets/image/logo.png" class="logo-small" alt="Taiwan Nights Logo"

				ul.nav.navbar-nav.menus
					li
						a href="#"  City
					li
						a href="#"  Near Me
					li
						a href="#"
							i.fa.fa-search id="trigger-overlay"
					li
						a 
							i.fa.fa-bars id="open-button"
						/ button class="menu-button" id="open-button"
							| Open Menu

				#navbar.navbar-collapse.collapse
					.navbar-right
						li.dropdown.languange
							a.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button" 
								img src="assets/image/en.png" alt="en" width="25"
								span.caret
							ul.dropdown-menu
								li
									a href="#"
										img src="assets/image/en.png" alt="en" width="25"
								li
									a href="#"  
										img src="assets/image/taiwan.png" alt="taiwan" width="25"

		.event-detail-top
			.container
				.row
					.info-event
						.col-md-6
							img.cover-image src="assets/image/cover/4.png" alt="cover image" 
						.col-md-6
							.profile-user-xs
								img src="assets/image/user-small.png" alt="user small"
								span 
									a href="" Muhamad Reza
							h3.title Tomorrowland - Meet Tomorrow’s World 
							.detail-info
								.location
									.media
									  .media-left.icon
									  	i.fa.fa-map-marker
									  .media-body
									    .media-heading 
									    	h5 Elektro 
									    	h5 No. 12, Songshou Rd, Xinyi District, Taipei City, 110
									    	h5 110台灣台北市信義區松壽路12號 
								.start
									.row
										.col-md-6
											h5.heading START
											p 2015/12 /12   |  22:00
										.col-md-6
											h5.heading END
											p 2015/12 /12   |  24:00
								.men
									.row
										.col-md-6
											h5.heading MEN
											p NT$ 1000 w/ 1 drink
										.col-md-6
											h5.heading WOMEN
											p NT$ 1000 w/ 1 drink
								.music
									.row
										.col-md-12
											h5.heading MUSIC
											p Dance Music, Club
								.attend
									.row
										.col-md-6
											.media
											  .media-left.icon
											  	i.fa.fa-users
											  .media-body
											    .media-heading 
											    	h5 123 Attending
										.col-md-6
											.media
											  .media-left.icon
											  	i.fa.fa-heart-o
											  .media-body
											    .media-heading 
											    	h5 339 Interested
							a href=""
								.button.btn-big.hvr-sweep-to-right view facebook page

									
						



		footer
			.container
				.row
					.col-md-6
						a href="index.html"
							img src="assets/image/logo.png" alt="logo big" 
					.col-md-6
						.row
							.col-md-3
								h4.grey-col Support
								ul.list-unstyled
									li 
										a href="" Contact
									li 
										a href="" Facebook
									li
										a href="" twitter

							.col-md-3.col-md-offset-2
								h4.grey-col The Company
								ul.list-unstyled
									li 
										a href="" About
									li 
										a href="" Blog

							.col-md-2.col-md-offset-2
								h4.grey-col Stuff
								ul.list-unstyled
									li
										a href="" Sign Up
									li 
										a href="" Login
									li
										a href="" Term & Condition





	script type="text/javascript" src="assets/js/jquery-2.1.4.min.js"		
	script type="text/javascript" src="assets/js/classie.js"
	script type="text/javascript" src="assets/js/bootstrap.min.js"		    
	script type="text/javascript" src="assets/js/jquery.mCustomScrollbar.js"		
	script type="text/javascript" src="assets/js/main.js"  
	script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"