/* hack bootstrap */
.navbar-inverse .navbar-nav > .active > a
	background: transparent
.navbar
	+pad-t(20px)
	+fontweight(600)
	height: 95px
	background: #171b1d


.navbar-brand > img
	+pad-t(0px !important)
	+mar-t(-30px)

ul.menus
	li	
		background: none
	li:nth-child(1)
		+mar-l(60px)
a
	+fontsize(15px)
	color: #4b5053