@media screen and (max-width: 1024px)
	.view, .cover-event-top img
		height: 380px
	
@media screen and (max-width: 768px)
	.view, .cover-event-top img
		height: 320px



// ****************************** 
//            mobile
// ******************************
@media screen and (max-width: 320px)
	.navbar-brand > img
		width: 160px
		margin-top: -25px
	.container-bigscreen
		+pad-l(0px !important)
		+pad-r(0px !important)
	.hero-big
		.number-1
			width: 100% !important
		.number-2, .number-3, .number-4
			display: none
	.view, .cover-event-top img 
		height: 370px
		width: 100%


@media screen and (min-width: 360px) and (max-width: 480px)
	.container-bigscreen
		+pad-l(0px !important)
		+pad-r(0px !important)
	.navbar-brand > img
		+mar-t(-30px)
	.list-event .col-xs-12
		width: 50% !important
	.view, .cover-event-top img
		width: 205px !important
	footer .link-bottom
		+mar-t(40px)	

@media screen and (min-width: 500px) and (max-width: 568px) 
	
	/* home page */
	.hero-big
		.number-1, .number-2
			width: 50%
		.number-3, .number-4
			display: none
	.container-bigscreen
		+pad-l(0px !important)
		+pad-r(20px !important)
	.navbar-brand > img 
		margin-top: -30px
	.list-event .col-xs-12
		width: 50% !important
	.view, .cover-event-top img
		width: 255px !important
	.cover-normal
		height: 280px !important
	footer
		.link-bottom
			+mar-t(40px)



@media screen and (max-width: 600px)
	
	/* home page */
	.cover-event-top 
		.mask
			hr
				+mar(5px 0 10px 0)
			h3 > a
				+fontsize(16px)
			.detail-info
				margin: 10px 0 5px 0
			.gender
				.men, .women
					height: 44px !important
					width: 30%
					+pad(11px 30px)
					img
						width: 100px
						height: auto
				.price
					width: 70%
					height: 44px !important
					line-height: 45px
			.bottom
				+pad(10px 10px)
				.btn-xs
					+border(1px solid #e7f0f5)
					+pad(15px 70px)
					+mar-t(0px)
					width: 100% !important
					text-align: center
					letter-spacing: 0.3px
					width: auto
					text-transform: uppercase
					color: $peneapple
					display: inline-block
					+fontsize(12px)
					+fontweight(600)

	/* event index */
	.list-month
		.month, span > .week
			
			text-align: left
			float: left
		.month 
			+fontsize(26px !important) 
		.week
			+fontsize(15px !important)
			+mar-t(43px !important)
			width: 50px !important
		.tab 
			width: 100%
	#map
		width: 96.3% !important

	footer
		+pad(40px 0 60px 0 !important) 
	.hero-big
		.number-1, .number-2
			width: 50%
		.number-3, .number-4
			display: none

