/*
 *Project Name: Taiwan Nights
 *Designer: Muhamad Reza Adityawarman
 *Date : December, 29 2015  */


@import "general"
@import "_bootstrap"
@import "hack"
@import "font-awesome/font-awesome"
@import "home"


/* Helper Class */
.container-bigscreen
	+pad-l(50px)
	+pad-r(50px)
.form-search
	+mar-t(40px)
.languange
	+mar-t(15px)


/* UI */
.input-simple
	+border-l(none)
	+border-r(none)
	+border-t(none)
	+border-b(1px solid #f3f6f8)

/* dropdown */
.dropdowns
	border-bottom: 2px solid #f7f9fa
	padding: 13px 15px 
	color: #ccc
	background-color: #fff
	background-image: url(../image/dropdown.png)
	background-position: 97% center
	background-repeat: no-repeat
	cursor: pointer
	position: relative

.dropdowns ul 
	list-style: none 
	padding: 0 
	margin: 0 
	position: absolute
	top: 48px 
	left: -1px
	z-index: 5
	border: 1px solid #ccc
	width: 100%
	color: #ccc
	background-color: #fff
	display: none

.dropdowns li 
	list-style: none 
	padding: 0 
	margin: 0 
	padding: 15px

.dropdowns li.selected 
	display: none
.dropdowns li:hover 
	background-color: #333 
	color: #fff
.dropdowns.open 
	border: 1px solid #666 
	color: #333
.dropdowns.open ul  
	border: 1px solid #666 
	color: #333

.myform .subject 
	width: 100%
	margin: 0 0 20px

.blue-dropdowns
	color: #00adee
.green-dropdowns
	color: $peneapple
.evergreen-dropdowns
	color: $evergreen


/* Menu */
/* Menu Button */
.menu-button 
	position: fixed
	z-index: 1000
	margin: 1em
	padding: 0
	width: 2.5em
	height: 2.25em
	border: none
	text-indent: 2.5em
	font-size: 1.5em
	color: transparent
	background: transparent

.menu-button::before 
	position: absolute
	top: 0.5em
	right: 0.5em
	bottom: 0.5em
	left: 0.5em
	background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%)
	content: ''

.menu-button:hover 
	opacity: 0.6

/* Close Button */
.close-button 
	width: 1.3em
	height: 1.3em
	position: absolute
	right: 1em
	top: 1em
	overflow: hidden
	text-indent: 1em
	font-size: 0.75em
	border: none
	background: transparent
	color: transparent

.close-button::before,
.close-button::after 
	content: ''
	position: absolute
	width: 3px
	height: 100%
	top: 0
	left: 50%
	background: $peter-river

.close-button::before
	-webkit-transform: rotate(45deg)
	transform: rotate(45deg)

.close-button::after
	-webkit-transform: rotate(-45deg)
	transform: rotate(-45deg)

.icon-list
	a
		width: 100%
		display: block
		+pad-b(15px)
		+pad-t(15px)
		+border-b(1px solid #3f4345)
		span 
			color: #d4d9dc

/* Menu */
.menu-wrap 
	+mar-t(-80px)
	position: absolute
	z-index: 9999
	width: 500px
	height: 100%
	background: #373b3d
	padding: 2.5em 0 0 2em
	font-size: 1.15em
	-webkit-transform: translate3d(-520px,0,0)
	transform: translate3d(-520px,0,0)
	-webkit-transition: -webkit-transform 0.4s
	transition: transform 0.4s
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1)
	transition-timing-function: cubic-bezier(0.7,0,0.3,1)

/* Shown menu */
.show-menu .menu-wrap 
	-webkit-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
	-webkit-transition: -webkit-transform 0.8s
	transition: transform 0.8s
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1)
	transition-timing-function: cubic-bezier(0.7,0,0.3,1)

.show-menu .icon-list,
.show-menu .icon-list a 
	-webkit-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
	-webkit-transition: -webkit-transform 0.8s
	transition: transform 0.8s
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1)
	transition-timing-function: cubic-bezier(0.7,0,0.3,1)

.show-menu .icon-list a 
	-webkit-transition-duration: 0.9s
	transition-duration: 0.9s

.show-menu .content::before 
	opacity: 1
	-webkit-transition: opacity 0.8s
	transition: opacity 0.8s
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1)
	transition-timing-function: cubic-bezier(0.7,0,0.3,1)
	-webkit-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)