/*
 *Project Name: Taiwan Nights
 *Designer: Muhamad Reza Adityawarman
 *Date : December, 29 2015  */


@import "general"
@import "_bootstrap"
@import "hack"
@import "font-awesome/font-awesome"
@import "home"


/* Helper Class */
.container-bigscreen
	+pad-l(50px)
	+pad-r(50px)
.form-search
	+mar-t(30px)
.languange
	+mar-t(10px)
.w-100
	width: 100% !important


/* UI */
.input-simple
	+border-l(none)
	+border-r(none)
	+border-t(none)
	+border-b(1px solid #293034)
	color: #00a7ed
	background: transparent 
	@extend .w-100

/* dropdown */
.dropdowns
	border-bottom: 2px solid #f7f9fa
	padding: 13px 15px 
	color: #ccc
	background-color: #fff
	background-image: url(../image/dropdown.png)
	background-position: 97% center
	background-repeat: no-repeat
	cursor: pointer
	position: relative

.dropdowns ul 
	list-style: none 
	padding: 0 
	margin: 0 
	position: absolute
	top: 48px 
	left: -1px
	z-index: 5
	border: 1px solid #ccc
	width: 100%
	color: #ccc
	background-color: #fff
	display: none

.dropdowns li 
	list-style: none 
	padding: 0 
	margin: 0 
	padding: 15px

.dropdowns li.selected 
	display: none
.dropdowns li:hover 
	background-color: #333 
	color: #fff
.dropdowns.open 
	border: 1px solid #666 
	color: #333
.dropdowns.open ul  
	border: 1px solid #666 
	color: #333

.myform .subject 
	width: 100%
	margin: 0 0 20px

.blue-dropdowns
	color: #00adee
.green-dropdowns
	color: $peneapple
.evergreen-dropdowns
	color: $evergreen


/* Menu Button */
.menu-button 
	position: fixed
	z-index: 1000
	margin: 1em
	padding: 0
	width: 2.5em
	height: 2.25em
	border: none
	text-indent: 2.5em
	font-size: 1.5em
	color: transparent
	background: transparent

.menu-button::before 
	position: absolute
	top: 0.5em
	right: 0.5em
	bottom: 0.5em
	left: 0.5em
	background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%)
	content: ''

.menu-button:hover 
	opacity: 0.6

/* Close Button */
.close-button 
	width: 1.3em
	height: 1.3em
	position: absolute
	right: 1em
	top: 1em
	overflow: hidden
	text-indent: 1em
	font-size: 0.75em
	border: none
	background: transparent
	color: transparent

.close-button::before,
.close-button::after 
	content: ''
	position: absolute
	width: 3px
	height: 100%
	top: 0
	left: 50%
	background: $peter-river

.close-button::before
	-webkit-transform: rotate(45deg)
	transform: rotate(45deg)

.close-button::after
	-webkit-transform: rotate(-45deg)
	transform: rotate(-45deg)

.icon-list
	a
		width: 100%
		display: block
		+pad-b(25px)
		+pad-t(25px)
		+border-b(1px solid #3f4345)
		&:visited, &:link, &:active , &:focus
			text-decoration: none
		span 
			color: #d4d9dc
			+fontsize(13px)
			&:hover
				text-decoration: none
				color: $peter-river
		&:nth-child(1)
			+mar-t(-35px)

/* Menu */
.menu-wrap 
	+mar-t(-80px)
	position: absolute
	z-index: 9999
	width: 500px
	height: 100%
	background: #373b3d
	padding: 2.5em 0 0 2em
	font-size: 1.15em
	-webkit-transform: translate3d(-520px,0,0)
	transform: translate3d(-520px,0,0)
	-webkit-transition: -webkit-transform 0.4s
	transition: transform 0.4s
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1)
	transition-timing-function: cubic-bezier(0.7,0,0.3,1)

/* Shown menu */
.show-menu .menu-wrap 
	-webkit-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
	-webkit-transition: -webkit-transform 0.8s
	transition: transform 0.8s
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1)
	transition-timing-function: cubic-bezier(0.7,0,0.3,1)

.show-menu .icon-list,
.show-menu .icon-list a 
	-webkit-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
	-webkit-transition: -webkit-transform 0.8s
	transition: transform 0.8s
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1)
	transition-timing-function: cubic-bezier(0.7,0,0.3,1)

.show-menu .icon-list a 
	-webkit-transition-duration: 0.9s
	transition-duration: 0.9s

.show-menu .content::before 
	opacity: 1
	-webkit-transition: opacity 0.8s
	transition: opacity 0.8s
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1)
	transition-timing-function: cubic-bezier(0.7,0,0.3,1)
	-webkit-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)


/* Search */
.overlay
	position: fixed
	width: 100%
	height: 100%
	top: 0
	left: 0
	background: rgba(23, 27, 29, 1)
	z-index: 99999
	.overlay-close
		width: 80px
		height: 80px
		position: absolute
		right: 20px
		top: 20px
		overflow: hidden
		border: none
		background: url(../image/close.png) no-repeat center center
		text-indent: 200%
		color: transparent
		outline: none
		z-index: 100
	nav
		text-align: center
		position: relative
		top: 50%
		height: 60%
		-webkit-transform: translateY(-50%)
		transform: translateY(-50%)
	ul
		list-style: none
		padding: 0
		margin: 0 auto
		display: inline-block
		height: 100%
		position: relative
		li
			display: block
			height: 20%
			height: calc(100% / 5)
			min-height: 54px
			-webkit-backface-visibility: hidden
			backface-visibility: hidden
			a
				font-size: 54px
				font-weight: 300
				display: block
				color: #fff
				-webkit-transition: color 0.2s
				transition: color 0.2s
				&:hover, &:focus
					color: #e3fcb1

/* Overlay closing cross */
.overlay-simplegenie
	visibility: hidden
	-webkit-transform: translateY(60%) scale(0)
	transform: translateY(60%) scale(0)
	-webkit-transition: -webkit-transform 0.4s, visibility 0s 0.4s
	transition: transform 0.4s, visibility 0s 0.4s
	&.open
		visibility: visible
		-webkit-transform: translateY(0%) scale(1)
		transform: translateY(0%) scale(1)
		-webkit-transition: -webkit-transform 0.4s
		transition: transform 0.4s

@media screen and (max-height: 30.5em)
	.overlay
		nav
			height: 70%
			font-size: 34px
		ul li
			min-height: 34px

.overlay-simplegenie
	/* placeholder */
	*::-webkit-input-placeholder 
		color: #00a7ed
	
	*:-moz-placeholder 
		/* FF 4-18 */
		color: #00a7ed

	*::-moz-placeholder 
		/* FF 19+ */
		color: #00a7ed
	
	*:-ms-input-placeholder 
		/* IE 10+ */
		color: #00a7ed

.searching
	left: 0
	right: 0
	margin-top: 30%
	+pad(15px 0)
	+fontsize(30px)


/* listing event*/
.content-list
	+mar-t(30px)
	position: relative
	left: 0
	right: 0

	.cover
		display: block
		position: relative
		list-style: none
		min-height: 490px
		height: auto
			
		.number-1, .number-2, .number-3, .number-4
			display: block
			position: relative
			left: 0px
			top: 0px

			&:before
				background-image: -webkit-linear-gradient(135deg,rgba(55,68,75,0.6),#37444b)
				background-image: -moz-linear-gradient(135deg,rgba(55,68,75,0.6),#37444b)
				background-image: -o-linear-gradient(135deg,rgba(55,68,75,0.6),#37444b)
				opacity: 0.7
				background-image: linear-gradient(135deg,rgba(55,68,75,0.6),#37444b)
				background: rgba(55,68,75,0.6)
				position: absolute
				top: 0px
				bottom: 0px
				right: 0px
				left: 0
				content: ''

		/* cover */			
		.number-1
			background: url(../image/event/1.png)
			background-size: cover
			display: block
			min-height: 450px

		.wrapper-title
			position: absolute
			display: inline-block
			bottom: 15px
			+mar(15px)
			h3
				+fontsize(18px)
				+fontweight(100 !important)
				letter-spacing: 0.8px
				.top, .bottom
					color: #fff	
					+pad(5px 10px)
				.title-blue
					background: $peter-river
				.title-purple
					background: $purple	
				.title-evergreen
					background: $evergreen	
				.title-green
					background: $peneapple

				.top
					display: inline-block
					width: auto
					margin-bottom: 8px
				.bottom
					display: inline
					width: auto

			h5 
				+mar-t(7px)
				+fontsize(13px)
				+fontweight(100)
				letter-spacing: 0.5px
				width: auto
				display: inline-block
				color: #fff


				.title-gold
					background: #d3c19d
					+pad(5px 10px)
					i
						color: #80755f

		.date-top
			+pad(5px 10px)
			+mar(15px)
			width: auto
			color: #fff
			position: absolute
			background: #93c5d8
			.date
				+fontsize(11px)
			.day
				+fontsize(13px)
				text-transform: uppercase

/* top event list */
.list-event
	+mar(0)
	+pad(0)
	list-style: none


/* normal event list */
.cover-normal
	@extend .cover
	height: 320px !important

	.wrapper-title
		bottom: -25px !important
		left: -5px
	.image-1
		&:before
			@extend .number-1:before 
			
	.image-1
		display: block
		position: relative
		min-height: 250px
		background-size: cover
		background: url(../image/event/4.png)

	h5
		bottom: 0px
		+mar-l(-10px)

.title-bottom
	+fontsize(18px)
	+mar-t(10px)
	+fontweight(100)
	width: 72%
	line-height: 24px
